.btn-group {
  position: relative;
  display: inline-block;
}
.btn-group .btn {
  cursor: pointer;
  float: left;
  height: 10px;
  width: 10px;
  border-radius: 50%;
  border: 2px solid rgba(255,255,255,0.3);
  margin-left: 6px;
  margin-top:1px;
}
.btn-group .btn:first-child {
  margin-left: 3px;
}
.btn-group svg {
  z-index: -1;
  top: 0;
  left: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: visible;
}
.btn-group path {
  fill: none;
  stroke: #eee;
  stroke-dasharray: 39, 99999;
  transition: all 1s ease-in-out;
  stroke-width: 2;
}
.slides {
  transition: left 1s ease-in-out;
  height: 100vh;
  position: absolute;
}
.slides .slide {
  height: 100vh;
  width: 100vw;
  float: left;
}
.slides .slide:nth-child(1) {
  background: #c66;
}
.slides .slide:nth-child(2) {
  background: #acac39;
}
.slides .slide:nth-child(3) {
  background: #39ac39;
}
.slides .slide:nth-child(4) {
  background: #40bfbf;
}
.slides .slide:nth-child(5) {
  background: #8c8cd9;
}
body {
  overflow: hidden;
  margin: 0;
  padding: 0;
}
.nav {
  text-align: center;
  position: absolute;
  width: 100%;
  bottom: 5%;
  transform: translateY(-50%);
}
